<a href="https://colab.research.google.com/github/jashdesai1313-hue/python/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
print("half pyramid pattern of stars(*):")
n = int(input("enter the number of rows:"))
for i in range(n):
  for j in range(i+1):
    print("* ", end="")
  print()

half pyramid pattern of stars(*):
enter the number of rows:4
*
* *
* * *
* * * *

In [8]:
rows = int(input("enter the number of rows you want:"))
number=1
print("floyd's triangle:")
for i in range(1,rows+1):
  for j in range(1, i+1):
    print(number, end=" ")
    number=number+1
  print()

enter the number of rows you want:3
floyd's triangle:
1
2 3
4 5 6